:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

body {
    margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

.Quantum_transfer-modal-container {
    padding: 32px 24px;
    min-width: 400px;
}

.Quantum_transfer-modal-container .Quantum_transfer-modal-content {
    font-size: 1rem;
    font-weight: 400;
    color: #3f51b5;
    margin: 12px 0px;
    padding-left: 12px;
}

.Quantum_transfer-modal-container .Quantum_transfer-modal-detail{
    font-weight: 700;
    text-transform: capitalize;
}